html, body {
	height: auto;
}

body {
	min-height: 800px;
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	position: absolute;
	top: 0;
}

* {
	box-sizing: border-box;
}

html, body, img, div, section, header, footer, article, aside, figure {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

section, footer, header {
	clear: both;
}

.content-size {
	max-width: 900px;
	margin: 0 auto;
	padding: 1em;
	text-align: left;
	min-height: 70%;
}

* + * {
	margin-top: 1em;
}

