body {
	background-color: black;
	color: white;
}

.bg {
	background: url( ../img/poster.png ) center center no-repeat;
	background-size: cover;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-filter: blur( 4px );
	-moz-filter: blur( 4px );
	filter: blur( 4px );
}

.content-size {
	background: rgba( 100, 100, 100, 0.7 );
}

.prelaunch {
	display: inline-block;
	font-family: 'Indie Flower', cursive;
	color: #b00;
	background-color: white;
	padding: 2px 0.5em;
	-ms-transform: rotate(-2deg); /* IE 9 */
	-webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
	transform: rotate(-2deg);
}

.logo-media {
	display: inline-block;
	height: 2em;
	width: auto;
	margin: 5px;
	background: white;
	padding: 5px;
	border: none;
	outline: 0;
}

.explain > img {
	height: 100%;
	width: auto;
	float: right;
}

.explain {
	height: 550px;
}

#signup {
	text-align: center;
	padding-bottom: 1em;
}

input, button {
        height: 2em;
        border: 0;
        vertical-align: top;
        padding: 0.5em;
}

input {
        width:30%;
        border: solid 1px #ccc;
        background:white;
}

button {
        height:2em;
        margin-left: -5px;
        width: 15%;
        background:#0088be;
        color:white;
        cursor: pointer;
}

